.container {
  padding: 0 2rem;
}

.main {
  min-height: 60vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.metabtn {
  background-color: #412db0; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;

}

.logoPerso{
  height: 10px !important;
  width : 10px !important;
}

.card_img {
	width: 50px;
	height: 50px;
}
.card_img_a {
	width: 250px;
	height: 100px;
}
.card_img_ld {
  margin-top: 50px ;
	width: 50px;
	height: 50px;
  text-align: center;
}

.logo_blase{
  font-size: 35px;
  margin-left: 10px;
  font-weight: bold;
}



.input {
  width: 100%;
}

.accept_offer{
  background-color: #4CAF50;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.book_visit{
  background-color: #9e9e9e;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.decline_offer{
  background-color: #f44336;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
}

.accepted_offer{
  border-radius: 10px;
  background-color: #4CAF50;
  padding: 10px;
  margin: 20px;
  color: white;
  font-weight: bold;
}

.waiting_response{
  border-radius: 10px;
  background-color: #828882;
  padding: 10px;
  margin: 20px;
  color: white;
  font-weight: bold;
}

.description_applicant{
  margin-top: 10px;
  margin-bottom: 10px;
}

.description_apply{
  margin-bottom: 20px;
}

.proof{
  margin-top: 20px;
  margin-bottom: 20px;
}

.offer_form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;

}
.my_input{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  justify-content: center;
  font-weight: bold;
  
}